edp_env310/
edp-venv/
edp-venv-py311/
edp-venv-py312/
bazel-*/
bazel-out/
external/
.git
.venv
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.tgz
*.tar.gz
node_modules/
*.egg-info
.pytest_cache/
dist/
build/
.cache/
